body{
  color: inherit;
  font-family: sans-serif;
  background-color: #000000;
}

#header{
  height: 45px;
  background-color: #000000;
  margin: 2 10px;
}

ul#nav{
  background-color: #000000;
  width: 400px;
  float: right;
}

ul#nav li{
  display: inline;
  height: 65px;
}

ul#nav li a{
  display: inline-block;
  align-content: center;
  height: 30px;
  font-size: 18px;
  color: #FFD;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
}

ul#nav li a:hover{
  background-color: #0095BB;
}

/*边框*/
#content{
  margin: 0 30px;
  padding: 0 30px;
  background-color: #FFF;
}

#bd_revanent{
  margin: 2 10px;
  /*padding: 20px;*/
  background-color: #E0E0E0;
  box-shadow: 5px 5px 5px #888888;
  position: relative;
  top: 15px;
  padding: 0 50px;
}

#pic{
  margin: 2 10px;
  padding: 10 30px;
  background-color: #E0E0E0;
  box-shadow: 5px 5px 5px #888888;
  position: relative;
  top: 35px;
  padding: 2 50px
}

#pic_box{
  width: 200px;
  height: 250px;
  background-color: #FFF;
}
#inner_box{
  position: relative;;
  left: 23px;
}

#tab{
  border-collapse:collapse;
  width: 100%;
}

table, td, th{
  border: 0.1px solid black;
  width: auto;
}

#tab thead{
  background-color:#202020;
  color:#FFF;
}


#foot{
  background-color: black;
  color: #FFF;
  margin: 2 10px;
}
